.space-10{
    height: 10px;
}
.space-15{
    height: 15px;
}
.space-20{
    height: 20px;
}
.space-30{
    height: 30px;
}
.space-40{
    height: 40px;
}
.space-50{
    height: 50px;
}
.space-60{
    height: 60px;
}
.test{
    border: 1px solid red;
}